/* @import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --col: 10rem;

    --color-accent-dark: hsl(35, 96%, 47%);
    --color-accent: hsl(40, 100%, 63%);

    --color-bg-darker: hsl(0, 0%, 70%); /* oklch(92.5%, 0%, 89.876%) */
    --color-bg-dark: hsl(0, 0%, 90%); /* oklch(92.5%, 0%, 89.876%) */
    --color-bg: hsl(0, 0%, 95%); /* oklch(96.1%, 0%, 89.876%) */
    --color-bg-lite: hsl(0, 0%, 99%); /* oklch(100%, 0%, 89.876%) */

    --color-border-lite: hsl(0, 0%, 95%);
    --color-border: hsl(0, 0%, 85%);

    --color-text: hsl(0, 0%, 5%); /* oklch(15.9%, 0%, 89.876%) */
    --color-text-muted: hsl(0, 0%, 30%); /* oklch(42%, 0%, 89.876%) */
    --color-text-lite: hsl(0, 0%, 50%); /* oklch(42%, 0%, 89.876%) */

    --font: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-size: 16px;

    --fs-4xs: 0.625rem;
    --fs-3xs: 0.6875rem;
    --fs-2xs: 0.75rem;
    --fs-xs: 0.8125rem;
    --fs-sm: 0.875rem;
    --fs: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2rem;
    --fs-3xl: 2.5rem;
    --fs-4xl: 3rem;

    --radius: 0.5rem;

    --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);

    --width-xxl: 80rem;
    --width-xl: 64rem;
    --width-lg: 60rem;
    --width-md: 48rem;
    --width-sm: 40rem;
    --width-xs: 24rem;
}
